<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sm_arts.jibcon">

    <uses-sdk tools:overrideLibrary="org.lucasr.twowayview, org.lucasr.twowayview.widget, jp.wasabeef.recyclerview" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/jibcon_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- For Google Maps -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_api" />

        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/myAppTheme.MainNoActionBar" />
        <activity
            android:name=".ui.splash.tutorial.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/myAppTheme.IntroNoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.tutorial.TutorialMainActivity"
            android:theme="@style/myAppTheme.JibconNoActionBar" />
        <activity
            android:name=".ui.splash.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/myAppTheme.LoginNoActionBar"
            >

        </activity>

        <activity
            android:name=".ui.splash.makecon.MakeconStartActivity"
            android:theme="@style/myAppTheme.MainNoActionBar" />
        <activity
            android:name=".ui.splash.makecon.MakeconMainActivity"
            android:theme="@style/myAppTheme.MainNoActionBar" />
        <activity
            android:name=".ui.adddevice.AddDeviceActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.additional.sidebar.ConnectedDevicesActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.additional.sidebar.WidgetActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.additional.sidebar.AboutJibconActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.additional.sidebar.MyJibconActivity"
            android:theme="@style/myAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.additional.sidebar.UserAuthorityActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.getothercon.GetOtherConActivity"
            android:theme="@style/myAppTheme.MainNoActionBar" />
        <activity
            android:name=".ui.splash.getothercon.GetOtherConEndActivity"
            android:theme="@style/myAppTheme.MainNoActionBar" />
        <activity
            android:name=".ui.additional.setting.SettingActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.additional.setting.alarm.AlarmActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.additional.setting.personsecure.PersonSecureActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.additional.setting.usercenter.AskEnrollCompanyActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.additional.setting.usercenter.FaqActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.additional.setting.usercenter.JibconAskActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.additional.setting.usercenter.UserCenterActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.BaseActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.login.KakaoSignupActivity"
            android:theme="@style/myAppTheme.LoginNoActionBar" />
        <activity
            android:name=".ui.additional.floatingbuttonui.FloatingButtonDeviceActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.additional.floatingbuttonui.FloatingButtonActiveActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".ui.additional.floatingbuttonui.FloatingButtonPassiveActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name=".utils.firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.firebase.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.main.cheatkey.passive.addpassive.MakeNewPassiveActivity"
            android:theme="@style/myAppTheme.MainNoActionBar" />
        <activity
            android:name=".ui.main.cheatkey.passive.addpassive.trigger.SelectTriggerActivity"
            android:theme="@style/myAppTheme.MainNoActionBar" />
        <activity
            android:name=".ui.main.cheatkey.passive.addpassive.action.SelectActionActivity"
            android:theme="@style/myAppTheme.MainNoActionBar" />
        <activity
            android:name=".ui.main.cheatkey.passive.addpassive.trigger.SelectTriggerTimeActivity"
            android:theme="@style/myAppTheme.MainNoActionBar" />
        <activity
            android:name=".ui.main.cheatkey.passive.addpassive.action.SelectActionWeatherActivity"
            android:theme="@style/myAppTheme.MainNoActionBar" />
        <activity android:name=".ui.additional.sidebar.housemember.HouseMembersActivity"
            android:theme="@style/myAppTheme.MainNoActionBar"/>
    </application>

</manifest>