<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sm_arts.jibcon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/jibcon_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- For Google Maps -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_places_api"
            />
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ui.splash.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/myAppTheme.IntroNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.TutorialMainActivity"
            android:theme="@style/myAppTheme.TutorialNoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/myAppTheme.TutorialNoActionBar" />
        <activity
            android:name=".app.makecon.MakeconStartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.makecon.MakeconMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".device.adddevice.AddDeviceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.sidebar.ConnectedDevicesActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.sidebar.WidgetActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.sidebar.AboutJibconActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.sidebar.MyJibconActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.sidebar.UserAuthorityActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.getothercon.GetOtherConActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.getothercon.GetOtherConEndActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".app.setting.SettingActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.setting.alarm.AlarmActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.setting.personsecure.PersonSecureActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.setting.usercenter.AskEnrollCompanyActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.setting.usercenter.FaqActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.setting.usercenter.JibconAskActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.setting.usercenter.UserCenterActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".app.BaseActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity android:name=".login.KakaoSignupActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity
            android:name=".ui.floatingbuttonui.FloatingButtonDeviceActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".ui.floatingbuttonui.FloatingButtonActiveActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".ui.floatingbuttonui.FloatingButtonPassiveActivity"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>


        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app"/>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>