<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sm_arts.jibcon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/jibcon_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- For Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZWQYb4N-vR8Cdx_zyMHNh3SQytrpLtfQ" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/myAppTheme.IntroNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakeCon.MakeConStartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakeCon.MakeCon0Fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Device.AddDevice.AddDeviceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sidebar.ConnectedDevicesActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".sidebar.WidgetActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".sidebar.AboutJibconActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".sidebar.MyJibconActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".sidebar.UserAuthorityActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".GetOtherCon.GetOtherConActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetOtherCon.GetOtherConFinishActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting.SettingActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".setting.alarm.Alarm"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".setting.personsecure.PersonSecure"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".setting.usercenter.AskEnrollCompany"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".setting.usercenter.FAQ"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".setting.usercenter.JibconAsk"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".setting.usercenter.UserCenter"
            android:theme="@style/myAppTheme.NoActionBar" />
       <activity android:name=".Login.KakaoSignupActivity"
           android:theme="@style/AppTheme.NoActionBar">

       </activity>
        <activity
            android:name=".sidebar.MyJibconActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".sidebar.UserAuthorityActivity"
            android:theme="@style/myAppTheme.NoActionBar" />
        <activity
            android:name=".GetOtherCon.GetOtherConActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetOtherCon.GetOtherConFinishActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FloatingButtonUi.FloatingButtonDeviceActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".FloatingButtonUi.FlotingButtonActiveActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity android:name=".FloatingButtonUi.FlotingButtonPassiveActivity"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>
    </application>

</manifest>